* {
  margin: 0;
  font-family: sans-serif;
  color: #333;
  font-family: "Poppins","sans-serif";
  padding:0;
}
body{
  background-size: cover;
}
b {
  font-size: 1.4rem;
}
span h1 {
  text-transform: capitalize;
}
.navbar {
  padding:0;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  flex-direction:row;
  /* border:10px solid orange; */
}
.navbar h1 {
  color: #f1356d;
  padding:16px
}
.navbar .links {
  margin-left: auto;

}
.navbar a {
  margin-left: 25px;
  text-decoration: none;
  padding: 6px;

  /* color:#f2f2f2 */
}
.navbar a:hover {
  color: #f1356d;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
label {
  color: #f1356d;
  margin-right: 1rem;
}
button {
  margin-left: 1rem;
  background-color: #f1356d;
  color: white;
  cursor: pointer;
  transition: all ease 0.3s;
  padding:0.5rem
}
button:hover {
  color: #f1356d;
  background-color: white;
}
input {
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
  line-height: 1.6rem;
  margin-top: 2rem;
}
.sound-button {
  border: none;
  background: none;
  cursor: pointer;
}
.sound-button img {
  width: 25px; 
  height: 25px;
  padding:0
}
.info {
  height: fit-content;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 8px;
}
.footer {
  background-color: #f1356d;
  color: #f2f2f2;
  position: fixed;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  bottom: 0;
  font-weight: bold;
}
.footer p {
  color: #fff;
}

@media screen and (max-width: 560px) {
  .container{
    overflow:hidden;

  }
  .links {
    display: flex;
    font-size: 0.8rem;
    position:fixed;
    bottom:0%; 
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    background-color: #f1356d;
    padding:10px 0;

  }
  .links a{
    color:white;
    font-weight:500;
  }
  form {
    flex-direction: column;
    padding:2rem;
    align-items: center;
  }
  input {
    margin: 1.2rem;
    height: 29px;
    width: 130px;
  }
  button {
    font: size 1rem;
    border: 1px groove gray;
    border-radius:5px
  }
  .footer{
    display:none;
  }
}
